@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');


::-webkit-scrollbar {
  height: 90vh;
  display: none;
}
.nav-link {
  text-decoration: none;
  color: #000;
}
.nav-link:hover {
  color: rgba(255,255,255,.6);}
.content {
  min-height: 100vh;
background-image: url("../images/bckg2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.mainnav {
  height: 8vh;
  position: fixed !important;
  bottom: 0;
  width: 100vw;
}
.login-input{
  height: 6vh !important;
}
.login-input:focus {
    border-radius: 1.5rem !important;
    background-color: rgba(255,255,255,.7) !important;
    transition: all .2s ease-out;
}
.nav-link-alone {
  color: #fff;
  text-decoration: none;
}
.nav-item-alone {
  list-style-type: none;
}
.toast {
  position: absolute; top: 8vh; right: 10px; z-index:6;
}
.toast-wrapper {
  position:absolute;top:0;right:0; z-index:5;
}
.eventcard {
  border: 1px solid black;
  background-color: rgba(255,255,255,.5);
  border-radius: 15px;
  color: #000;
}
.event-wrapper {
  height: 100vh;
}
.log-wrapper {
  height: 70vh;
  overflow-y: auto;
  border: 1px solid gray;
}
.table {
  height: 70vh;
}
.admin-tag {
  border-radius: 5px;
  background-color: red;
}
.new-message {
  background-color: rgba(255,255,255,.75);
  color: #000;
  position: fixed;
  bottom: 9vh;
  right: 25%;
  left: 25%;
  border-radius: 20px;
}
.profile-img {
  border-radius: 20px;
}
.user-livetext {
  cursor: pointer;
}
.livesearch {
  position: fixed;
  bottom: 40vh;
  width: 15vw;
  left: calc(25% - 15vw);
  z-index: 100;
  background-color: rgba(255,255,255,.75);
  border-radius: 20px;
  transition: all 1s ease-out;
}
.message {
  cursor: pointer;
}
.message:hover {
  color: rgba(255,255,255,.7);
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.messages-button {
  position: fixed;
  right: 0;
  top: 60%;
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:#fff;
  border-radius: 1rem 0 0 1rem;
}
.messages-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.messages-wrapp {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.3s ease-out;
  color:#fff;
}
.messages-wrapper {
  width: 18vw;

}
.eachMessage{
  border-top: 1px solid rgba(255,255,255,.05);
  border-bottom: 1px solid rgba(255,255,255,.05);
}
.closeSideNav {
  cursor: pointer;
}
.closeSideNav:hover {
  opacity: .8;
  transition: all 0.3s ease-out;
}
.nav-item > .active {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#fff !important;
}
